:root {
    --primary-color: #e6d713;
    --secondary-color: #024e76;
    --tertiary-color: #FFFFFF;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: var(--tertiary-color);
    font-family: 'Ink Free','Century Gothic','Lucida Sans'; 
  }

  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    background-image: url('../images/cone-flower.jpg');
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
     }
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  body {
    margin: 0;
    padding: 0;
}
.hero {
background-image: url('../images/cone-flower.jpg');
background-size: cover;
overflow: visible;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: flex-start;
background-attachment: fixed;
background-position: 80%;
}
.hero-title {
  font-size: 55px;
  padding-top: 300px;
  padding-bottom: 300px;
}


